{% extends 'layout.html' %}

{% block body %}
<body background="static/food.jpg" style='background-size:100% auto'>
	<div class = 'jumbotron text-center' >
		<h1>Enter an address</h1>
		<p class='lead'>
			to find nearby restaurants<br>
		</p>
		<form class="input" method='POST' action='/' autocomplete="off" name="address">
        	<input class="form-control" type="text" placeholder="Enter Address" name="address" required='true' autocomplete="off" style="text-align:center">
      	</form>
	</div>
</body>>
{% endblock %}
